@model User
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-xl px-4 mt-4">
    <hr class="mt-0 mb-4">
    <form asp-action="Update" method="post" class="row">
        <div class="col-xl-4">
            <!-- Profile picture card-->
            <div class="card mb-4 mb-xl-0">
                <div class="card-header">Profile Picture</div>
                <div class="card-body text-center">
                    <!-- Profile picture image-->
                    <img class="img-account-profile rounded-circle mb-2"
                        src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                    <!-- Profile picture help block-->
                    <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                    <!-- Profile picture upload button-->
                    <button class="btn btn-primary" type="button">Upload new image</button>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <label class="small mb-1">Phone Number</label>
                        <input readonly class="form-control form-control-lg" type="text" asp-for="PhoneNumber"
                            placeholder="PhoneNumber">
                    </div>
                    <div class="mb-3">
                        <label class="small mb-1">Role</label>
                        <input readonly class="form-control form-control-lg" type="text" asp-for="Role"
                            placeholder="Role">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-8 h-100">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">Update Profile</div>
                <div class="card-body">
                    <div>
                        <!-- Form Group (username)-->
                        <div class="mb-3">
                            <label class="small mb-1">Username</label>
                            <input readonly class="form-control form-control-lg" type="text" asp-for="Username"
                                placeholder="Enter your Username">
                        </div>

                        @{
                            string password = ViewBag.Password;
                        }
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1">Password</label>
                                <input id="password" class="form-control form-control-lg" type="password" asp-for="PasswordHash" value="@password"
                                    placeholder="Enter your Password">
                                <span asp-validation-for="PasswordHash" class="text-danger font-italic"></span>
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1">Confirm Password</label>
                                <input id="confirmPassword" class="form-control form-control-lg" type="password" value="@password"
                                    placeholder="Confirm your Password">
                                <span id="confirmPasswordError" class="text-danger font-italic"></span>
                            </div>
                        </div>

                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (first name)-->
                            <div class="col-md-6">
                                <label class="small mb-1">First name</label>
                                <input  class="form-control form-control-lg" type="text" asp-for="FirstName"
                                    placeholder="Enter your First Name">
                            </div>
                            <!-- Form Group (last name)-->
                            <div class="col-md-6">
                                <label class="small mb-1">Last name</label>
                                <input  class="form-control form-control-lg" type="text" asp-for="LastName"
                                    placeholder="Enter your Last Name">
                            </div>
                        </div>
                        <!-- Form Row        -->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (organization name)-->
                            <div class="col-md-6">
                                <label class="small mb-1">Date Of Birth</label>
                                <input  class="form-control form-control-lg" type="date" asp-for="DateOfBirth"
                                    placeholder="Enter your Date Of Birth">
                            </div>
                            <!-- Form Group (location)-->
                            @* <div class="col-md-6">
                                <label class="small mb-1">Gender</label>
                                <input  class="form-control form-control-lg" type="text" asp-for="Gender"
                                    placeholder="Gender">
                            </div> *@

                            <div class="col-md-6">
                                <div>
                                    <label class="small mb-1">Gender</label>
                                <div>
                                <div class="form-group" style="padding: 4px 10px; border: 1px solid #ced4da; border-radius: 5px;">
                                    <input style="margin-top: 10px; position: relative;" type="radio" asp-for="Gender" value="Male"> 
                                    <span style="padding-right: 8px; font-size: 16px;">Male</span>
                                    <input type="radio" asp-for="Gender" value="Female"> 
                                    <span style="padding-right: 8px; font-size: 16px;">Female</span>
                                    <input type="radio" asp-for="Gender" value="Other"> 
                                    <span style="padding-right: 8px; font-size: 16px;">Other</span>
                                </div>
                                </div>
                                <span asp-validation-for="Gender" class="text-danger font-italic"></span>
                                </div>
                            </div>
                            
                        </div>
                        <!-- Form Group (email address)-->
                        <div class="mb-3">
                            <label class="small mb-1">Email address</label>
                            <input readonly class="form-control form-control-lg" type="text" asp-for="Email"
                                placeholder="Enter your Email">
                        </div>
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (phone number)-->
                            <div class="col-md-6">
                                <label class="small mb-1">Zip Code</label>
                                <input  class="form-control form-control-lg" type="text" asp-for="ZipCode"
                                    placeholder="Enter your Zip Code">
                            </div>
                            <!-- Form Group (birthday)-->
                            <div class="col-md-6">
                                <label class="small mb-1">ID Card/Passport Number</label>
                                <input class="form-control form-control-lg" type="text"
                                    asp-for="IDCardPassportNumber" placeholder="Enter your ID Card/Passport Number">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="small mb-1">Address</label>
                            <input class="form-control form-control-lg" type="text" asp-for="Address"
                                placeholder="Address">
                        </div>
                        <!-- Save changes button-->
                        <input type="submit" value="Update" class="btn btn-outline-success">
                        <input type="reset" value="Cancel" class="btn btn-outline-danger">
                        <a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}